.container{
    cursor: pointer;
    width: 300px;
    position: relative;
}
.title{
    position: absolute;
    margin-top: -40px;
    height: 40px;
    width: 300px;
    padding-left: 20px;
    padding-top: 8px;
    background-color: black;
}
.img{
    border-radius: 10px;
}
